/********************
CSS ELEMENTI GENERICI 
*********************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.boxed{                                 /*classe per allineare bene */
    max-width: 1750px;                   /*meglio dare in pixel per fissare bene la pagina o usare % per farla adattare al dispositivo */
    margin: 0 auto;
}


.flex{
    display: flex;
}

.wrap{flex-wrap: wrap;}

/* SPAZI */

.hMin520{ min-height: 520px;}
.space {margin: 5px 0px;}
.col {padding: 30px 0;}
.padding-top{padding-top: 180px;}
.padding-bottom{padding-bottom: 180px;}

/* ALLINEAMENTO */

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.alignItemCenter {align-items: center;}
.alignItemTop {align-items: flex-start;}
.alignItemEnd {align-items: flex-end;}
.space-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.justify-content{justify-content: flex-end;}

.center{ margin: 0 auto;}

/* COLORI SFONDO */

.bg-orangered {background-color: orangered;}
.bg-blue {background-color: blue;}
.bg-black {background-color: #222;}


/* COORE TESTO */

.text-orangetext{color: orangered;}
.text-black{color: black;}
.text-white{color: white;}
.text-blue{color: #8ea1e1;}

/* POSIZIONAMENTO */

.col10 {width: 10%;}
.col20 {width: 20%;}
.col25 {width: 25%;}
.col30 {width: 30%;}
.col33 {width: 33%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.width400 {width: 400px;}
.width270 {width: 270px;}

/* MISC */



/******************
CSS ELEMENTI PAGINA
*******************/
body{   
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    color: white;
    background-color: #4a4a4a;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

main{
    height: calc(100vh - 80px);
}
.MainBox{
    display: flex;
    margin: 50px auto;
    flex-wrap: wrap;
}

.cella{
    position: relative;
    margin-bottom: 10px;
}

img{

    display: block;
    position: relative;
    width: 240px;
    height: 140px;
}

.nome{
    background-color: #00000050;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}