/********************
CSS ELEMENTI GENERICI 
*********************/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.boxed{                                 /*classe per allineare bene */
    max-width: 1750px;                   /*meglio dare in pixel per fissare bene la pagina o usare % per farla adattare al dispositivo */
    margin: 0 auto;
}


.flex{
    display: flex;
    flex-direction: row;
}

.wrap{flex-wrap: wrap;}

/* SPAZI */

.hMin520{ min-height: 520px;}
.space {margin: 5px 0px;}
.col {padding: 28px 0;}
.padding{padding: 1em;}
.padding-bottom{padding-bottom: 180px;}

/* ALLINEAMENTO */

.text-left { text-align: left;}
.text-center { text-align: center;}
.text-right { text-align: right;}
.alignItemCenter {align-items: center;}
.alignItemTop {align-items: flex-start;}
.alignItemEnd {align-items: flex-end;}
.space-between {justify-content: space-between;}
.justify-center {justify-content: center;}
.justify-content{justify-content: flex-end;}
.column{flex-direction: column;}

.center{ margin: 0 auto;}

/* COLORI SFONDO */

.bg-orangered {background-color: orangered;}
.bg-blue {background-color: blue;}
.bg-black {background-color: #222;}
.bg-grey{ background-color: #4a4a4a;}


/* COORE TESTO */

.text-orangetext{color: orangered;}
.text-black{color: black;}
.text-white{color: white;}
.text-blue{color: #8ea1e1;}
.color-green{color: green;}
.color-red{color: red;}

/* POSIZIONAMENTO */

.col10 {width: 10%;}
.col20 {width: 20%;}
.col25 {width: 25%;}
.col30 {width: 30%;}
.col33 {width: 33%;}
.col40 {width: 40%;}
.col50 {width: 50%;}
.col60 {width: 60%;}
.col70 {width: 70%;}
.col80 {width: 80%;}
.col90 {width: 90%;}
.col100 {width: 100%;}

.w400 {width: 400px;}
.w270 {width: 270px;}

.h100{height: 100%;}

/* MISC */



/******************
CSS ELEMENTI PAGINA
*******************/
body{   
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 40px;
    text-align: right;
}
header > button{
    color: white;
    background-color: #4a4a4a;
    padding: 5px;
    border: none;
    border-radius: 6px;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
button:hover{cursor: pointer;}

main{
    min-height: calc(100vh - 120px);   /* px= somma dell'altezza dell'header e del footer 30px header - 90px footer*/
}


.cella{
    width: calc(100vw / 7 - 32px);
    position: relative;
    border: 2px solid black;
}

img{
    position: relative;
    width: 100%;
    height: 140px;
}

.nome{
    background-color: #00000050;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* FOOTER */

footer{
    display: flex;
    height: 80px;
    background-color: #222;
    font-size: 10px;
}
footer div {
    justify-content: space-between;
}
footer i{
    font-size: 30px;
    margin-bottom: 10px;
    
}
.arrow{
    padding: 15px;
}

.inlineFlex{
    display: inline-flex;
    height: 80px;
}
.end{
    border: none;
    padding: 0 20px;
}